body: { 
    background-color: whitesmoke;
    padding: 10px;
}
span.author { padding-right: 5px; padding-bottom:5px;}
div.input { padding-bottom: 10px;}
.button {
    background-color: #005; 
    padding: 5px 25px 5px 25px;
    font: 13px sans-serif;
    text-decoration: none;
    border: 1px solid #000;
    border-color: #aaa #444 #444 #aaa;
    color: #FFF;
}
button:focus {outline:0;}
img {
    margin: 1px;
    border-style: dotted;
    border-width: 1px;
    border-color: #AAA;
}
.home {
    width:32px;
    height:32px;
    float:left;
    border-style: none;
}
span.author {
    padding:3px;
    margin:0px;
    float:none;
}
.author-input {
    
}
.author-input + span {
    color:lightgray;
}
.author-input:checked + span {
    color:black;
}
